<template>
  <div id="app">
    <el-container>
      <el-header class="text-center">
        <h1>Example Vue.js app created by Artem Zhirov</h1>
      </el-header>
      <el-main>
        <div class="block">
          <h2><span class="number">1</span>Выберите Ваш город</h2>
          <p>Наш ассортимент может отличаться в зависимости от города.</p>
          <el-radio-group v-model="city">
            <el-radio-button label="Москва"></el-radio-button>
            <el-radio-button label="Санкт-Петербург"></el-radio-button>
            <el-radio-button label="Сыктывкар"></el-radio-button>
            <el-radio-button label="Екатеринбург"></el-radio-button>
          </el-radio-group>
        </div>
        <div class="block" v-show="city !== null && carsCollection">
          <h2><span class="number">2</span>Выберите автомобиль</h2>
          <p>В Вашем городе доступны следующие автомобили:</p>
          <el-row>
            <el-col :span="8" v-for="(item, index) in carsCollection" :key="index" class="pad">
              <el-card :body-style="{ padding: '0px' }" :class="{'active': item.objectId == car}">
                <div class="photo">
                  <img :src="item.img" class="image">
                </div>
                <div style="padding: 14px;">
                  <span>{{ item.name }}</span>
                  <div class="bottom clearfix">
                    <time class="time">{{ item.price }} руб/день</time>
                    <el-button type="text" class="button" @click.native="car = item.objectId">Выбрать</el-button>
                  </div>
                </div>
              </el-card>
            </el-col>
          </el-row>
        </div>
        <div class="block" v-show="car !== null && shopsCollection">
          <h2><span class="number">3</span>Выберите салон</h2>
          <p>Пожалуйста, укажите салон, в котором хотите забрать автомобиль.</p>
          <el-radio-group v-model="shop">
            <el-radio-button v-for="(item, index) in shopsCollection" :key="index" :label="item.objectId">{{ item.address }}</el-radio-button>
          </el-radio-group>
        </div>
        <div class="block" v-show="car && shop && city">
          <h2><span class="number">4</span>Проверьте информацию</h2>
          <ul>
            <li><strong>Город:</strong> {{ city }}</li>
            <li><strong>Автомобиль:</strong> {{ getCarNameById(car) }}</li>
            <li><strong>Салон:</strong> {{ getAddressByObjectId(shop) }}</li>
          </ul>
          <p>Всё верно?</p>
          <el-button type="success" @click.native="getOrderNumber">Заказать!</el-button>
        </div>
        <div class="block" v-show="orderNumber !== null">
          <h2>Информация о заказе</h2>
          <p>Спасибо!</p>
          <p>Вашему заказу присвоен номер <strong>М-{{ orderNumber }}</strong></p>
          <p>Автомобиль будет ждать Вас в назначенное время :-)</p>
        </div>
        <div class="block loading" v-show="loading">
          <img src="@/assets/loader.gif"></img>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      loading: false,
      city: null,
      shop: null,
      car: null,
      carsCollection: null,
      shopsCollection: null,
      orderNumber: null,
    }
  },
  watch: {
    city(newVal) {
      if (newVal != null) this.getProductsByCity();
    },
    car(newVal) {
      if (newVal != null) this.getShopsByCity();
    }
  },
  methods: {
    getProductsByCity() { // получаем список автомобилей, доступных в выбранном городе
      this.loading = true;
      this.orderNumber = null;
      this.carsCollection = null;
      this.shopsCollection = null;
      this.car = null;
      
      const where = encodeURIComponent(`city='${this.city}'`);
      this.$axios.get(`/data/cars?where=${where}&props=objectId%2Cprice%2Cname%2Cimg`).then((r) => {
        this.carsCollection = r.data;
        this.car = null;
        this.loading = false;
      }).catch((err) => {
        console.log('Возникла ошибка при обращении к API');
      })
    },
    
    getShopsByCity() { // получаем список салонов, доступных в выбранном городе
      this.loading = true;
      this.orderNumber = null;
      this.shop = null;
      this.shopsCollection = null;
      
      const where = encodeURIComponent(`city='${this.city}'`);
      this.$axios.get(`/data/shops?where=${where}&props=objectId%2Caddress`).then((r) => {
        this.shopsCollection = r.data;
        this.shop = null;
        this.loading = false;
      }).catch((err) => {
        console.log('Возникла ошибка при обращении к API');
      })
    },
    
    getOrderNumber() { // отправляет информацию о заказе и получает его номер
      this.loading = true;
      this.orderNumber = null;
      
      this.$axios.post("/services/order/order", {
        car: this.car,
        shop: this.shop,
        city: this.city
      }).then(r => {
        this.loading = false;
        this.orderNumber = r.data;
      }).catch((err) => {
        console.log('Возникла ошибка при обращении к API');
      })
    },
    
    getCarNameById(id) { // возвращает название автомобиля по его ObjectID
      let result = null;
      if (!this.carsCollection) return null;
      for (var i = 0; i < this.carsCollection.length; i++) {
        if (this.carsCollection[i].objectId === id) {
          result = this.carsCollection[i].name;
          break;
        }
      }
      return result;
    },
    
    getAddressByObjectId(id) { // возвращает адрес салона по его ObjectID
      let result = null;
      if (!this.shopsCollection) return null;
      for (var i = 0; i < this.shopsCollection.length; i++) {
        if (this.shopsCollection[i].objectId === id) {
          result = this.shopsCollection[i].address;
          break;
        }
      }
      return result;
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic-ext');
  #app {
    font-family: "Roboto", sans-serif;
    width: 800px;
    margin: 0 auto;
  }
  h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  .text-center {
    text-align: center;
  }
  h2 span.number {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    vertical-align: middle;
  }
  .block {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;
  }
  .loading {
    text-align: center;
  }
  .loading img {
    margin: 30px 0;
  }
  
  .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }
  
  .photo {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  
  .el-card.active {
    box-shadow: 0 2px 12px 0 #66b1ff !important;
  }
  .pad {
    padding: 10px;
  }
</style>
